.theicons{
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    background: black;
}
.theicons img{
    margin-top: 10px;
    width: 70px;
}
.icons{
    margin-left: 94px;
    margin-top: 10px;
}
.wholename{
    color: whitesmoke;
    font-family: 'Arima', cursive;   
}
.wholename h2{
    margin-top:10px;
}
.wholename h2:hover{
    color:rgb(145, 145, 145);
    cursor: pointer;
}