.theicons{
    height: 90px;
    display: flex;

    justify-content: space-evenly;
    background: transparent
}
.theicons img{
    margin-top: 10px;
    width: 70px;
}
.bg{
    background-color: black;
  
}

.icons{
    margin-left: 94px;
}
.wholename{
    color: whitesmoke;
    font-family: 'Arima', cursive;   
}
.wholename h2{
    margin-top:-20px;
}
.wholename h2:hover{
    color:rgb(145, 145, 145);
    cursor: pointer;
}