.tp{
    text-align: left;
    margin-left: 6.5vw;
    font-family: 'Arima', cursive;
  }

  .tpi{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    margin-bottom: -1vw;
  }
  .whole{
    color: black;
  }
 
  .tpi p{
    font-family: 'Arima', cursive;
    margin-left: 6.5vw;
    margin-right: 5vw;
    font-size: 1.5vw;
  }

  .tpi img{
    margin-top:-5.1vw;
    margin-right: 4vw;
    width: 30vw;
  }


  
