@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.sos{
    font-family: 'Arima', cursive;
    text-align: left;
    margin-left: 7%;
    margin-top: 3%;
    color:white;
}
.theot{
    z-index: 1;
}
.sosp{
    color:white;
    line-height: 23px;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left:7%;   
    font-size: 19px;
}
.thegal{
    background-color: black;
    z-index: 1;
}