@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.sos{
    font-family: 'Arima', cursive;
    text-align: left;
    margin-left:  3.3vw;
    margin-top: 1vw;
    color:white;
}
.theot{
    z-index: 1;
}
.sosp{
    color:white;
    line-height: 23px;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: auto;
    margin-left:3.3vw;   
    font-size: 1.5vw;
    z-index: 999;
}
.thegal{
    background-color: black;
    z-index: 1;
        height: 100%;
        margin:  auto;
}
.opp{
    z-index: 1;
}

.sosPcon{
    /* background-color: rgb(199, 15, 15); */
    width:50vw;
    height:70vw;
    overflow: scroll;
}

.sosPcon::-webkit-scrollbar{
    display: none;

}

