@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.sos{
    font-family: 'Arima', cursive;
    text-align: left;
    margin-left:  3.3vw;
    margin-top: 2vw;
    color:white;
    font-size:3.4vw;
}
/* .theico{ */
    /* position: fixed; */
/* } */
.theot{
    z-index: 1;
}
.sosp{
    color:white;
    line-height: 1.6837481698389458vw;
    word-spacing: 0.36603221083455345vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: auto;
    margin-left:3.3vw;   
    font-size: 1.5vw;
    z-index: 999;
}
.thegal{
    background-color: black;
    z-index: 1;
        height: -1vw;
        margin:  auto;
}
.opp{
    z-index: 1;
}

.sosPcon{
    /* background-color: rgb(199, 15, 15); */
    width:50vw;
    height:70vw;
    overflow: scroll;
}

.sosPcon::-webkit-scrollbar{
    display: none;
}

@media all and (max-width:895px){
    .sosPcon{
        width: 90vw;
        height: 100vw;
        margin-bottom: -60vw;
    }
    .sosp{
        line-height: 2vw;
    }
}
