@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');
.belline{
    display: flex;
    justify-content: space-around;
    font-size: 1.3177159590043923vw;  
    color: black;
    font-weight: bold;  
}
.hhh{
    margin-top: -0.36603221083455345vw;
    margin-bottom: 1.0980966325036603vw;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%,black));

}
.forfont{
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    font-family: 'Cormorant Upright', serif;
    background-color: rgb(208, 164, 230);
}
.theh{
    padding-top: 1.0980966325036603vw;
    text-align: left;
    margin-left: 5.124450951683748vw ;
}
.contp{
    margin-right: 4.026354319180088vw;
    margin-left: 5.124450951683748vw;
    text-align: left;
    font-weight: 600;
}
.contp p{
    font-size: 1.4641288433382138vw;
}
.belp{
    font-size: 1.4vw;
    margin-right: 47.58418740849195vw;
}
.bl{
    font-size: 1.4vw;
}
.timg{

    width: 90vw;
}

@media all and (max-width:865px){

.contp p{
    font-size: 2.5vw;
}
.theh{
    font-size: 5vw;
}
.belline p{
    font-size: 1.6vw;
}

}
@media all and (max-width:675px){
    .contp p{
        font-size: 3vw;
    }

}
@media all and (max-width:525px){
    .contp p{
        font-size: 3.5vw;
    }
    .theh{
        font-size: 5.4vw;
    }
    .forfont{
        height:auto;
    }

    .timg{
        width: 92vw;
    }
    .belline p{
        font-size: 1.8vw;
    }
    
    }
    @media all and (max-width:475px){
        .contp p{
            font-size: 4vw;
        }
    
    }
@media all and (max-width:395px){

    .forfont{
        height: auto;
    }
    .contp p{
        font-size: 5vw;
    }
    .theh{
        font-size: 6vw;
    }
    
    }
    @media all and (max-width:290px){

       
        .contp p{
            font-size: 5.5vw;
        }
        .theh{
            font-size: 6.2vw;
        }
        
        }
     
    @media all and (max-width:240px){

       .forfont{
        height: 100vh;
       }
       .contp p{
        font-size: 6vw;
    }
    .theh{
        font-size: 7vw;
    }
        
        }
        @media all and (max-width:170px){
           .forfont{
            height: 100vh;
           }
             
             }
             @media all and (max-width:150px){
                    .contp p{
                        font-size: 6vw;
                    }
                  
                  }