@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.low{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    background-color: transparent;
    height: 2.9282576866764276vw;
}
.aa{
    color: rgb(252, 250, 248);
}
.low a{
   
    font-size: 1.8301610541727673vw;
    font-family: 'Source Sans Pro', sans-serif;    text-decoration: none;
    z-index: 1;
}
.aa:hover{
    color:wheat;
    cursor: pointer;
}