@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.thep{
    font-family: 'Play', sans-serif;
    font-size: 7.320644216691069vw;
    color:antiquewhite;
    cursor: pointer;
}
.ath{
    display: flex;
    justify-content: space-evenly;
    /* margin:0; */
    /* margin-left: 5vw; */
    padding:0;
}
.h{
    margin-top:-1.4641288433382138vw;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%,white));

}
.forbg{
  
        display: flex;
        flex-direction: column;
        justify-content:center;
    width:100vw ;
    height: auto;
    min-height: 100vh;
  background: url("../images/bgmars.jpg")  no-repeat center center fixed; 
  
    background-size: cover;
  
}
.cardstyle{
    width:200px;
}
@media all and (max-width:840px){
    .ath{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardstyle{
        margin-top: 10vh;
    } 
}