@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.thep{
    font-family: 'Play', sans-serif;
    font-size: 7.320644216691069vw;
    color:antiquewhite;
    cursor: pointer;
}
.ath{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.0980966325036603vw;
}
.h{
    margin-top:-1.4641288433382138vw;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%,white));

}
.forbg{
  
        display: flex;
        flex-direction: column;
        justify-content:center;
    width:100vw ;
    height: 100vh;
  background: url("../images/bgmars.jpg")  no-repeat center center fixed; 
  
    background-size: cover;
  
}
@media all and (max-width:950px){
    .ath{
        display: grid;
        grid-column: auto;
    }
}