.nav-bg{
    background-color: rgb(208, 164, 230);
    margin:auto;
}
#basic-nav-dropdown{
    color: white;
    margin-right: 2.1961932650073206vw;
    font-family: 'Gentium Book Plus', serif;
    font-size: 1.4641288433382138vw;
}

.hov:hover{
    background-color: rgba(228, 117, 228, 0.76);
}

.forz{
    z-index: 1;
}


    