.nav-bg{
    background-color: rgb(208, 164, 230);
}
#basic-nav-dropdown{
    color: white;
    margin-right: 30px;
    font-family: 'Gentium Book Plus', serif;
    font-size: 20px;
    /* z-index: 1; */
}

.forz{
    z-index: 1;
}


    