.b{
    aspect-ratio: 960/300;
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.ob{
    background-color: rgb(95, 4, 95);
    
}

.bggg{ 
    background-image: url("../images/lay.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;

    height: auto;
}

@media all and (max-width:650px) and (min-width:620px){
    .bggg{
        height: 120vh;
    }
}


