.b{
    aspect-ratio: 960/300;
    width: 100%;
    min-height: 86.5vh;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ob{
    background-color: rgb(95, 4, 95);
    
}

.bggg{ 
    background-image: url("../images/lay.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}


