@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.bu{
    background-color: transparent;
    border-radius: 3.6603221083455346vw;
    border-color: rgb(238, 155, 238);
    color: antiquewhite;
    padding-left: 1.4641288433382138vw;
    padding-right: 1.4641288433382138vw;
    margin-top: 0.7320644216691069vw;
}
.bu:hover{
    background-color: rgba(16,18,27,0.4);
    border-color: rgb(166, 166, 250);
}

.box2 img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:18vw;
}
.box2 li{
    padding-left: 3.6603221083455346vw;
    text-align: left;
    color:antiquewhite;
}
.box2 p{
    text-align: left;
    padding-left: 2.1961932650073206vw;
    padding-right: 0.7320644216691069vw;
    
    font-family: "Cormorant",serif;
    color: antiquewhite;
    font-size: 1.2445095168374818vw;
}
  
.box2 {
    z-index: 1;
    margin: 0 auto;
    width: 19rem;
    height: 26rem;
    background: rgba(16,18,27,0.4);
    /* background: rgba(255,255,255 ,0.4); */

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 0.7320644216691069vw;
    backdrop-filter: blur(2px);
    transition: all .3s ease-in-out;
  }
.box2:hover { transform: scale(1.1); }


.box2 h1{
    font-family: 'Cinzel', serif;
    margin-top:0.7320644216691069vw;
    color: antiquewhite;
    text-align: center;
    cursor: pointer;
}
.p4{
    margin-top: 0.36603221083455345vw;
}