@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.bu{
    background-color: transparent;
    border-radius: 50px;
    border-color: rgb(238, 155, 238);
    color: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
.bu:hover{
    background-color: rgba(16,18,27,0.4);
    border-color: rgb(166, 166, 250);
}

.box2 img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:80%;
}
.box2 li{
    padding-left: 50px;
    text-align: left;
    color:antiquewhite;
}
.box2 p{
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
    
    font-family: "Cormorant",serif;
    color: antiquewhite;
    font-size: 17px;
}
  
.box2 {
    z-index: 1;
    margin: 0 auto;
    width: 19rem;
    height: 26rem;
    background: rgba(16,18,27,0.4);
    /* background: rgba(255,255,255 ,0.4); */

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: all .3s ease-in-out;
  }
.box2:hover { transform: scale(1.1); }


.box2 h1{
    font-family: 'Cinzel', serif;
    margin-top:10px;
    color: antiquewhite;
    text-align: center;
    cursor: pointer;
}
.p4{
    margin-top: 5px;
}