@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.bu{
    background-color: transparent;
    border-radius: 3.6603221083455346vw;
    border-color: rgb(238, 155, 238);
    color: antiquewhite;
    padding-left: 1.4641288433382138vw;
    padding-right: 1.4641288433382138vw;
    margin-top: 0.7320644216691069vw;
}
.bu:hover{
    background-color: rgba(16,18,27,0.4);
    border-color: rgb(166, 166, 250);
}

.box2 img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:18vw;
}
.box2 li{
    padding-left: 3.6603221083455346vw;
    text-align: left;
    font-size: 1.5vw;
    color:antiquewhite;
}
.box2 p{
    text-align: left;
    padding-left: 2.1961932650073206vw;
    padding-right: 0.7320644216691069vw;
    
    font-family: "Cormorant",serif;
    color: antiquewhite;
    font-size: 1.4vw;
}
.otherside p{
    font-size:1.4vw ;
}
  .inside p{
    margin-top: 1vw;
  }
.box2 {
    z-index: 1;
    margin: 0 auto;
    /* margin-bottom: 2vw; */
    width: 350px;
    height: 500px;
    background: rgba(16,18,27,0.4);

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: all .3s ease-in-out;
  }
.box2:hover { transform: scale(1.1); }


.box2 h1{
    font-family: 'Cinzel', serif;
    margin-top:0.7320644216691069vw;
    color: antiquewhite;
    text-align: center;
    cursor: pointer;
    font-size: 3vw;
}
.p4{
    margin-top: 0.36603221083455345vw;
}
@media all and (max-width:1100px){
    .box2{
        margin-top: 10vh;

    }
}
@media all and (max-width:930px){
 
    .bu{
        margin-bottom: 5vw;
    }
    .otherside p{
        font-size:2vw ;
    }
    .otherside li{
        font-size: 2vw;
    }
    .inside p{
        font-size: 2vw;
    }
    .box2 img{
        width: 30vw;
    }
    .box2 h1{
        font-size: 4vw;
    }
}
@media all and (max-width:500px){
 
    .bu{
        margin-bottom: 5vw;
    }
    .otherside p{
        font-size:3vw ;
    }
    .otherside li{
        font-size: 3vw;
    }
    .inside p{
        font-size: 3vw;
    }
    .box2 img{
        width: 32vw;
    }
    .box2 h1{
        font-size:5vw ;
    }
}

@media all and (max-width:410px){
    .box2{
        width: 250px;
    }
}
@media all and (max-width:300px){
    .box2{
        width: 200px;
    }
}
@media all and (max-width:250px){
    .box2{
        width:150px;
    }
}