@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
.imbg{
    color:wheat;
    padding-top: 15%;
    /* min-height: 100vh; */
    height: 86.5vh;
    background-image: url("../images/stk.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ca h1{
    color:white;
    padding-top: 20px;
}
.side{
    width:4%;
}
/* .midside{
    
} */
.side img{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
}

.imbg p{
    color:wheat;
}
.neo{
    width: 100%;
    font-family: 'Exo', sans-serif; 
}
.in{
    border-radius:50px ;
    padding:.5em 1.5em;
    text-align: center;  
    color: wheat; 
    border: hidden;
    background-color:rgba(131, 128, 128, 0.144);
}

.ca{
    background-color: rgb(187, 187, 187);
}

.cc{
    display:inline-flex;
    margin-top:90px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:80px;  
}

.in:hover{
    cursor: pointer;
    transform: translate(4px);
    transition:transform 0.3s ease-in-out;
    background-color: rgba(16,18,27,0.4);
}






  