@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.all p{
   z-index: 1;
   color: black;
   font-size: 15px;
   font-family: 'Roboto Slab', serif;
   margin-top: 10px;
}

.all{
   min-width: 400px;
   width: auto;
   text-align: left;
   padding-left: 15px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}