@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
.imbg{
    color:wheat;
    height: 100vh;
    overflow: hidden;
    padding-top: 28vh;
    background-image: url("../images/stk.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imbg p{
    font-size: 2.5vw;
}
.ca h1{
    color:rgb(59, 58, 58);
    padding-top: 1.4641288433382138vw;
}
.imbg h1{
    font-size: 5vw;
}
.side{
    width:5vw;
    position: sticky;
    top:0;
}

.side img{
    cursor: pointer;
    margin-left: 1.0980966325036603vw;
    margin-top: 1.4641288433382138vw;
}

.side p{
    font-size: 1.0248901903367496vw;
    margin-left: 0.5124450951683748vw;
 }
 .side a{
    color:black;
    text-decoration: none;
 }
 .side p:hover{
    cursor: pointer;
    color:whitesmoke;
 }

.imbg p{
    color:wheat;
    font-size: 4vw;
}
.neo{
    font-family: 'Exo', sans-serif; 
}
.in{
    border-radius:3vw ;
    width: 18vw;
    height: 3vw;
    padding:.5rem 1.5rem;
    font-size: 1.3vw;
    text-align: center;  
    color: wheat; 
    border: rgb(201, 124, 201) solid 1px;
    background-color:rgba(131, 128, 128, 0.144);
}
.cc{
    display:inline-flex;
    margin-top:6.588579795021962vw;
    margin-left:3.6603221083455346vw;
    margin-right:3.6603221083455346vw;
    margin-bottom:5.856515373352855vw;  
}

.in:hover{
    cursor: pointer;
    transform: translate(4px);
    border: rgb(185, 76, 160) solid 1px;
    transition:transform 0.3s ease-in-out;
    background-color: rgba(16,18,27,0.4);
}
.midsi{
    margin-top: -80vw;
}
.ca {
	background: linear-gradient(-180deg,#b1699f,#e263c2, #ee7752, #e73c7e,#e73cbc,#e417b0,#853872);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height:max-content;
}

@keyframes gradient {
	0% {
		background-position: 50% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 50% 100%;
	}
}
.ca h1{
    font-size: 4vw;
}
@media all and (max-width:530px){
    .midsi{

        margin-top: -100vw;
    }
  }
  @media all and (max-width:810px) {
    .midsi{

        margin-top: -90vw;
    }
  }
  @media all and (max-width:600px) {
    .midsi{

        margin-top: -99vw;
    }
  }
  @media all and (max-width:420px){
    .midsi{

        margin-top: -110vw;
    }
  }
  @media all and (max-width:370px){
    .midsi{

        margin-top: -126vw;
    }
  }
  @media all and (max-width:320px){
    .midsi{

        margin-top: -136vw;
    }
  }
  @media all and (max-width:280px){
    .midsi{

        margin-top: -156vw;
    }
  }
  @media all and (max-width:250px){
    .midsi{

        margin-top: -180vw;
    }
  }
  @media all and (max-width:200px){
    .midsi{

        margin-top: -210vw;
    }
    
  }
@media all and (max-width:832px){
    .wholename h2{
     margin-top: -2vw;
    }
    .theico{
     margin-top: -1.5vw;
    }
   
    .imbg h1{
        font-size:8vw;
    }
    .imbg p{
        font-size: 5vw;
    }
    .in{
        width: 25vw;
        height:5vw;
    }
 }
@media all and (max-width:650px){
    .wholename h2{
     margin-top: -2vw;
    }
    .theico{
     margin-top: -1.5vw;
    }
    
   
 }

 @media all and (max-width:575px){
    .wholename h2{
     margin-top: -2.2vw;
    }
    .theico{
     margin-top: -1.9vw;
    }
   
 }
 @media all and (max-width:525px){
     .wholename h2{
      margin-top: -4vw;
     }
     .theico{
      margin-top: -3vw;
      width: 1.8vw;
     }
     
     .theicons{
        padding-bottom: 8vw;
     }
 }
 @media all and (max-width:422px){
     .wholename h2{
      margin-top: -4.5vw;
     }
     .imbg{
        padding-top:55vw;
     }
     .theico{
      margin-top: -3.5vw;
     }
 }
 @media all and (max-width:390px){
   
    .theicons {
        margin-bottom: -1vw;
        padding-bottom: 10vw;
   } 
    
    
   }
   @media all and (max-width:280px){
   
     .theicons{
        padding-bottom: 13vw;
     }
     
   }
   @media all and (max-width:200px){
     
    .wholename h2{
        margin-top: -5.5vw;
    }
  .theicons{
    padding-bottom: 14vw;
  }
     
   }
   @media all and (max-width:166px){
     
     .wholename h2{
         font-size: 2vw;
         margin-top: -5.5vw;
        }
     
   }
   @media all and (max-width:140px){
    
     .wholename h2{
         margin-top: -7.2vw;
        }
     
   }






  