.cara{
    background-color: black;

}


.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  
  .thepl{
    padding-top: 15px;
    color: beige;
  }

  
  