@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;300&family=Edu+SA+Beginner&display=swap');

.cara{
  background-color: rgb(208, 164, 230);
  z-index: 2;
}

  .thepl{
    font-family: 'Arima', cursive;
    padding-top: 15px;
    color: black;
    font-size: 55px;
  }
  .carousel-indicators{
    visibility: hidden;
  }
  
  
  

.carousel {
  /* width:900px;
  height:500px; */
  margin: auto;
}
.carousel-control-prev-icon {
  margin-left: -30%;
}
.carousel-control-next-icon {
  margin-right: -40%;
}
@media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
}
  