@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
.morph{
    margin:auto;
    width: 90vw;
    min-height:60vh;
    height: auto;
    background: rgba(20, 20, 20, 0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 0.7320644216691069vw;
    backdrop-filter: blur(0.1vw);
}

.formarg{
    padding-bottom: 1.4641288433382138vw;
    padding-top: 1.4641288433382138vw;
    color: antiquewhite;

}
.ii{
    margin-top: 1.4641288433382138vw;
    cursor:pointer;
}

.th4 {
    display: flex;
    justify-content: center;
}
.ins {
    display: flex;
    justify-content: center;
    font-family:  'Cormorant',serif;
    font-size: 1.8301610541727673vw;
}
.but{
    color:antiquewhite;
    background: transparent;
    margin-left:0.7320644216691069vw;
    margin-right: 0.7320644216691069vw;
    margin-top: 0.7320644216691069vw;
    width:2.9282576866764276vw;
  height: 2.9282576866764276vw;
  border: solid 2px antiquewhite;
  border-radius: 100vw;
}  
.but:hover{
    background-color: rgba(20, 20, 20, 0.4);

}
.heh{
    font-family: 'Cinzel', serif;
    font-size: 5.856515373352855vw;
    margin-top: 0.36603221083455345vw;
    cursor: pointer;
}
.rovph{
    height: auto;
    width: auto;
    display: block;
    margin: auto;
}
.part{
    display: flex;
    justify-content: space-around;
    margin-top: 2.1961932650073206vw;
}
.part img{
    width: 35vw;
    height: 22vw;
    margin-right: -2.9282576866764276vw;
}
.partc{
    text-align: left;
    font-family:  'Cormorant',
    serif;
    font-size: 2.12298682284041vw;
}
.fo{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4641288433382138vw;
}
.bott p{ 

    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-right: 2.9282576866764276vw;
    margin-left: 6.954612005856515vw;
    font-size: 1.4641288433382138vw;
    margin-top: 0.7320644216691069vw;
    
 }
 .hhhh{
    margin-top: -0.36603221083455345vw;
    margin-bottom: 1.0980966325036603vw;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%,white));

}
.inp{
    background-color: rgba(20, 20, 20, 0.4);
    margin-left: 0.7320644216691069vw;
    border-radius: 3.6603221083455346vw;
    margin-top: -2.1961932650073206vw;
    border: hidden;
    margin-right:0.7320644216691069vw;
    margin-bottom: 1.4641288433382138vw;
    height: 2.562225475841874vw;
    color:rgb(233, 216, 216);
    padding: .5rem 1.5rem;
    
}
::placeholder{
    color:rgb(233, 216, 216); 
}   
@media all and (max-width:1250px){
    .rovph{
        width: 50vw;
    }
}    
@media all and (max-width:900px){
    .bott p{
        font-size: 1.8vw;
    }
    .fo{
        font-size: 1.8vw;
    }
    .inp{
        font-size: 1.5vw;
        height: 4vw;
        width: 20vw;
    }
}
@media all and (max-width:855px){
    .but{
        border: hidden;
    }
}
@media all and (max-width:800px){
    .bott p{
        font-size: 2.5vw;
    }
    .fo{
        font-size: 2vw;
    }
    .inp{
        font-size: 2vw;
        height: 4.7vw;
        width: 20.7vw;
    }
    .partc p{
        font-size: 2.3vw;
    }
    .part img{
        height: 24vw;
    }
}
@media  all and (max-width:650px) {
    .bott p{
        font-size: 3vw;
    }
    .fo{font-size: 2.5vw;}
    .inp{
        font-size: 1.8vw;
    }
    .rovph{
        width: 50vw;
    }
}

 
@media all and (max-width:500px){
    .part{
        margin-top: 5vw;
    }
    .bott {
        margin-top: 6vw;
    }
    .inp{
        padding-right: 2vw;
        padding-left:2vw;
    }
    .ii{
        margin-left: 2vw;
    }
    .ins p{
        font-size: 3vw;
    }
    .morph{
        margin-bottom: -20vw;
    }
    .part img{
        width: 30vw;
    }
  
}
@media all and (max-width:450px){
   
    .bott p{
        font-size: 3.5vw;
    }
    .fo{
        font-size: 2.6vw;
    }
  
 
  
}

@media all and (max-width:400px){
    .partc p{
        font-size: 2.8vw;
    }
    .part img{
        margin-right: 2vw;
    }
    /* .morph{
        margin-bottom: -50vw;
    } */
    
}



@media all and (max-width:370px){
    .partc p{
        margin-left:1vw;
    }
    .par{
        margin-top: 10vw;
    }

    
}

@media all and (max-width:330px){
    .partc p{
        font-size:3.5vw ;
    }
}
